.card-img-overlay {
	background: linear-gradient(transparent 25%, rgba(0,0,0,0.7) 90%);
}
.ellipsis-for-overflow {
	overflow: hidden;
	text-overflow: ellipsis; 
}
/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.card-img {
	transition: transform 2s;
}
.card-img:hover {
	transform: scale(1.5);
}