/* Articles */
/* margin for mobile & desktop */
@media only screen and (max-width: 767.98px) {
	#articles {
		margin: 5rem auto;
		width: 90vw;
	}
	#articles .card {
		height: 150px;
	}
}
@media only screen and (min-width: 767.99px) {
	#articles {
		margin: 7rem auto;
		width: 75vw;
	}
	#articles .card {
		height: 20vw;
	}
}


#articles h2 {
	font-weight: bolder;
}
#articles .row {
	margin: 0 auto 2rem auto;  /* top margin 0 since there's to gutter-y */
}
#articles .card {
	overflow: hidden;
	font-family: Verdana, sans-serif;  /* Legacy fallback */
    font-family: var(--sub-font);
	border: transparent;
}

/* https://css-tricks.com/zooming-background-images/ */
#articles .card-img {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	transition: all 0.4s ease-out;
}
#articles .card:hover .card-img,
#articles .card:focus .card-img {
	transform: scale(1.2);
}
#articles .card-img-overlay {
	background: linear-gradient(transparent 0%, rgba(0,0,0,0.7) 90%);
}

/* ellipsis for overflow after n lines 
   Source: https://stackoverflow.com/a/41137262 */
#articles .card-title {
	display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#articles .card-text {
	margin-bottom: 0;
}
@media only screen and (max-width: 991.98px) {
	#articles .card-title  {
		-webkit-line-clamp: 2;  /* defines # of lines */
		font-size: medium;
	}
	#articles .card-text {
		font-size: small;
	}
}
@media only screen and (min-width: 991.99px) {
	#articles .card-title  {
		-webkit-line-clamp: 3;  /* defines # of lines */
	}
}


/* View All link */
/* https://css-irl.info/animating-underlines/ */
#articles a {
	color: black;
	text-decoration: underline 0.08em rgba(0, 0, 0, 0);
  	transition: text-decoration-color 300ms;
}
#articles a:hover {
	text-decoration-color: rgba(0, 0, 0, 1);
}