/* CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Inter:wght@500&family=Josefin+Sans&display=swap');


:root {
    /* Palette */
    --brown: #7D5A5A;
    --pink-0: #F1D1D1;
    --pink-1: #F3E1E1;
    --pink-2: #FAF2F2;
    /* Font Styles */
    /* MUST ADD FALLBACK FONT FOR OLD BROWSERS w/o using CSS variables */
    --main-font: "Capriola"; /* Fallback font: Verdana, sans-serif */
    --footer-font: "Capriola";  /* Fallback font: Garamond, serif */
}

/* Font Cheat Sheet
font-family: 'Capriola', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

html {
    padding: 0;
    margin: 0;
}

/* Website Body */
body {
    background: var(--pink-2);
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;  /* Legacy fallback */
    font-family: var(--main-font);
    color: var(--brown);
}

a {
    color: white;
    text-decoration: none;
}

/* Margin styles for sections (vox-populi, poptown, articles) */
@media only screen and (max-width: 767.98px) {
	section {
		margin: 5rem auto;
	}
}
@media only screen and (min-width: 767.99px) {
	section {
		margin: 8rem auto;
	}
}

/* Nav Bar */
.navbar, 
.collapse {
    background-color: var(--pink-1);
}

.nav-item {
    font-size: large;
    text-align: center;
    margin: 3px;
}

.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

#nav-logo{
    width: 58px;
    height: 58px;
    margin: auto 0.5vw;
    object-fit: contain;
}

/* prevent  */
#vox-populi::before,
#online-poptown::before,
#articles::before {
    content: '';
    display: block;
    height:      100px;
    margin-top: -100px;
    visibility: hidden;
}

/* Header */
#header {
    width: 100vw;
    max-width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    position: relative;
}

#header #banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 1;
}

#banner-down {
    position: absolute;
    z-index: 2;    
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: 0;
    font-size: 2em;
}

@media only screen and (min-width: 1024px){
    #header {
        height: 85vh;
        max-height: 100%;
    }

    #banner-down {
        font-size: 3em;
    }
}

/* Menu */
/*#menu-instructions {
    width: 100%;
    height: auto;
    padding: 3%;
}

#menu-instructions p {
    font: var(--main-font);
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}*/

#menu {
    width: 100%;
    height: 25vh;
    padding: 0;
    margin: 0;
}

#menu #menu-bg {
    background-color: var(--pink-0);
    width: 100%;
    height: 17vh;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    padding-top: 2.5vh;
}

#menu #menu-slider {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

#menu #menu-icons {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 0;
    position: relative;
    z-index: 1;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#menu .icon {
    transition: all 0.5s;
    width: auto;
    height: 21vh;
    padding-left: 2.5vmin;
    padding-right: 2.5vmin;
    margin-top: 0;
}

#menu .icon:hover {
    background-color: var(--pink-2);
}

#menu .menu-icon {
    width: auto;
    height: 15vh;
    margin-top: 2vh;
}

#menu-slider .down {
    height: 15.5vh;
    margin-top: 4vh;
}

#menu-slider .up {
    height: 15.5vh;
    margin-top: 1.5vh;
}

#menu-slider .sports {
    height: 18vh;
}

#menu-slider .sports.up {
    margin-top: -1vh;
}

#menu .nav-btn {
    position: -webkit-sticky;
    position: sticky;
    height: 5vw;
    width: fit-content;
    border: none;
    border-radius: 30%;
    z-index: 2;
    background-color: var(--pink-2);
    color: var(--brown);
    font-size: 2vw;
    text-align: center;
    box-shadow: 3px 3px;
}

#menu .nav-btn:active {
    transform: scale(1.1);
}

#menu .nav-btn:hover {
    background-color: var(--brown);
    color: white;
}

#menu #nav-prev {
    left: 0.1%;
}

#menu #nav-next {
    right: 0.1%;
}

/* hide scrollbar on mobile */
@media screen and (max-width: 768px) {
    #menu #menu-icons::-webkit-scrollbar{
        display: none;
        width: 0 !important;
    }
    
    #menu #menu-icons {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
    }
}

@media screen and (min-width: 768px){
    /*#menu-instructions p {
        font-size: 1.5em;
    }*/

    #menu {
        height: 50vh;
    }

    #menu #menu-bg {
        height: 39.5vh;
        padding: 0;
    }

    #menu #menu-slider {
        height: 50vh;
    }

    #menu #menu-icons {
        height: 50vh;
    }

    #menu .icon {
        height: 40vh;
        padding-top: 2.5vmin;
    }

    #menu .menu-icon {
        height: 30vh;
        margin-top: 7vh;
    }
    
    #menu-slider .down {
        height: 33vh;
        margin-top: 9vh;
    }

    #menu-slider .up {
        height: 33vh;
        margin-top: 4vh;/*-1.2em;*/
    }

    #menu-slider .sports {
        height: 36.5vh;
    }

    #menu-slider .sports.up {
        margin-top: 0.5vh;
    }

    #menu .nav-btn {
        height: 7vh;
        font-size: 4vh;
    }
}

/* Women Pages */
#women-container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
}

#home-btn {
    position: -webkit-sticky;
    position: sticky;
    height: 15vw;
    width: 15vw;
    border: none;
    border-radius: 50%;
    background-color: var(--pink-2);
    color: var(--brown);
    font-size: 10vw;
    text-align: center;
    box-shadow: 3px 3px;
    margin: 0;
    padding: 0;
    margin-top: -100vh;
    bottom: 10vw;
    left: 100%;
    margin-right: 10vw;
    margin-bottom: 10vw;
}

#home-btn a{
    color: inherit;
}

#home-btn:hover {
    background-color: var(--brown);
    color: white;
}

#img-holder {
    width: 100%;
    height: 60vh;
    padding: 0;
    margin: 0;
}

#women-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

#content-holder{
    width: 100%;
    height: auto;
}

#content-holder div{
    width: 100%;
    height: auto;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

#content-holder p,li{
    font-family: var(--main-font), sans-serif;
    font-size: 90%;
    color: var(--brown);
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

p#women-name{
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 5%;
}

#content-pt2{
    background-color: var(--pink-0);
}

#content-pt3{
    background-color: var(--pink-1);
}

.content-label{
    width: auto;
    font-weight: bold;
}

@media screen and (min-width: 768px){
    #women-container {
        display: flex;
        flex-direction: row;
    }

    #home-btn {
        height: 6vw;
        width: 6vw;
        font-size: 4vw;
        text-align: center;
        box-shadow: 3px 3px;
        bottom: 3vw;
        margin-right: 3vw;
        margin-bottom: 3vw;
    }
    
    #img-holder {
        width: 40%;
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    
    #women-img {
        object-position: 50% 40%;
    }
    
    #content-holder{
        width: 60%;
    }
    
    #content-holder p,li{
        font-size: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    p#women-name{
        font-size: 3.5em;
    }
}

/* Comic Carousel */
.comic-container{
    background-color: var(--pink-1);
    width: 100%;
    height: auto;
    max-height: 105vh;
    margin: 0;
    /* margin-top: 10vh; */
    padding: 0;
    padding-bottom: 5vh;
}

#comic-carousel{
    background-color: var(--pink-1);
    width: 100vw;
    padding: 0;
    margin: auto;
}

.carousel-indicators{
    bottom: -7vh;
}

@media screen and (min-width: 768px){
    #online-poptown{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
    #comic-carousel{
        width: 75vw;
        padding-left: 12vw;
        padding-right: 12vw;
    }
    
    .carousel-item img{
        max-width: 100vw;
        max-height: 85vh;
        object-fit: contain;
        object-position: center;
    }
}

/* Footer */
.footer {
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    /*margin-top: 1.875em;*/
    font-family: Garamond, serif;  /* Legacy fallback */
    font-family: var(--footer-font);
}

.footer div {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.footer .left {
    justify-content: center;
    align-items: center;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.footer .left .logo {
    max-height: 5em;
    width: 5em;
}

.footer .left p {
    text-align: center;
    color: var(--pink-1);
    margin-top: 1.5em;
    font-size: 1.3em;
}

.footer .text {
    justify-content: center;
    align-items: flex-start;
    width: 43.375em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    font-size: 0.9em;
}

.footer .text p {
    text-align: justify;
    color: white;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .footer div {
        padding: 0;
    }

    .footer .left {
        margin-bottom: 0;
    }

    .footer .left img {
        max-width: 100%;
        height: 3em;
    }

    .footer .left p {
        font-size: 1.1em;
        margin-top: 1em;
    }

    .footer .text {
        align-items: center;
        max-width: 90%;
        text-align: center;
        font-size: 75%;
    }

    .footer .text .about {
        padding-bottom: 0.5em;
        text-align: justify;
    }

    .footer .text .credit, .footer .text .redirect {
        padding-bottom: 0.5em;
        text-align: center;
    }
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    text-decoration: underline;
}
