/* CSS Variables */
:root {
    /* Palette */
    --brown: #7D5A5A;
    --pink-0: #F1D1D1;
    --pink-1: #F3E1E1;
    --pink-2: #FAF2F2;
}

/* Website Body */
body {
    background: var(--pink-2);
}

/* Header */
#header {
    width: 100vw;
    height: fit-content;
    padding: 0;
    margin: 0;
    
}

#header #banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1024px) {
    #header {
        height: 100vh;
    }
}

/* Menu */

#menu {
    width: 100vw;
    height: 50vh;
    padding: 0;
    margin: 0;
}

#menu #menu-bg {
    background-color: var(--pink-1);
    width: inherit;
    height: 48vh;
    position: absolute;
    z-index: 0;
}

#menu #menu-slider {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow-x: auto;
}

#menu .icon {
    /* position: absolute; */
    transition: all 0.5s;
    width: auto;
    height: inherit;
    padding-left: 2vw;
    padding-right: 2vw;
}

#menu .icon:hover {
    background-color: var(--pink-2);
}

#menu .nav-btn {
    position: -webkit-sticky;
    position: sticky;
    width: 7vmin;
    height: 7vmin;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 2;
    background-color: var(--pink-2);
    color: var(--brown);
    font-size: 1.5em;
}


#menu .nav-btn:active {
    transform: scale(1.1);
}

#menu .nav-btn:hover {
    background-color: var(--brown);
    color: white;
}

#menu #nav-prev {
    left: 0.1%;
}

#menu #nav-next {
    right: 0.1%;
}

/* Footer */