/* CSS Variables */
:root {
    /* Palette */
    --brown: #7D5A5A;
    --pink-0: #F1D1D1;
    --pink-1: #F3E1E1;
    --pink-2: #FAF2F2;
}

/* Website Body */
body {
    background: var(--pink-2);
}

/* Header */
#header {
    width: 98vw;
    height: fit-content;
    padding: 0;
    margin: 0;
    
}

#header #banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1024px) {
    #header {
        height: 98vh;
    }
    
    #header #banner-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Footer */