/* Vox Populi */
/* margin for mobile & desktop */
@media only screen and (max-width: 767.98px) {
	#vox-populi {
		margin: 5rem 2rem;
		padding: 2rem 0.5rem;
	}
}
@media only screen and (min-width: 767.99px) {
	#vox-populi {
		margin: 6rem 5rem;
		padding: 1rem;
	}
}

#vox-populi {
	background-color: var(--brown);
}